.frame-home {
    @include col_masonry(5);
    padding: 10px 0;
}
.frame-home-4x {
    @include col_masonry(4);
    padding: 10px 0;
}
.frame-home-3x {
    @include col_masonry(3);
    padding: 10px 0;
}
.frame-home-flex {
	display: flex;
	flex-wrap: wrap;
}

/*frame post*/
.frame-post {
	position: relative;
	width: calc(100% - 25px);
	padding: 10px 7.5px;
	margin: 5px;
	border-radius: 7.5px;
	display: inline-block;
	overflow: hidden;
	&:hover {
		background-color: rgba(225,225,225,0.54);
		.must-hidden {
			display: block;
		}
	}
	.must-hidden {
		display: none;
	}
	.mid {
		.desc {
			line-height: 1.5;
			font-size: $txt-size-desc;
			cursor: default;
			&.notest {
				font-size: $txt-size-desc;
				color: $txt-sek-color;
			}
		}
	}
	.tool-position-bottom {
		position: absolute;
		bottom: 0;
		ul {
			li {
				z-index: 2;
			}
		}
	}
	.tool-position-top {
		position: absolute;
		top: 0;
		z-index: 2;
	}
	.mn {
		position: absolute;
		right: 0;
		.tool {
			background-color: $min-color;
			color: $sek-color;
			text-align: center;
			margin: 7.5px;
			border-radius: 5px;
			.ttl {
				font-weight: 900;
			}
		}
	}
	.bot {
		position: absolute;
		width: calc(100% - 15px);
		padding: 7.5px;
		bottom: 5px;
		ul {
			position: relative;
			width: 100%;
			li {
				position: relative;
				list-style: none;
				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 100%;
				font-size: 10px;
				cursor: pointer;
				text-align: center;
				background-color: rgba(0,0,0,0.8);
				color: #fff;
				&.sek {
					float: left;
				}
				&.rig {
					float: right;
					margin-left: 5px;
				}
				&.lef {
					float: left;
				}
				&:hover {
					background-color: rgba(0,0,0,0.9);
					color: #fff;
				}
				&.main {
					float: right;
					background-color: #fff;
					color: #144753;
				}
				&.main:hover {
					background-color: #f0f0f0;
					color: #144753;
				}
			}
		}
		.post-lf {
			float: left;
			li {
				margin: 5px;
			}
		}
		.post-rg {
			float: right;
			right: 0;
			li {
				margin: 5px;
			}
		}
	}
	.top {
		position: relative;
		width: 100%;
		max-height: 400px;
		cursor: pointer;
		&:hover {
			.pict-cover {
				border-radius: 10px;
			}
		}
		.info-tools {
			position: absolute;
			bottom: 0;
			color: #fff;
			ul {
				li {
					list-style: none;
					float: left;
				}
			}
		}
		.image-place {
			position: relative;
			width: 100%;
			background-color: #f0f0f0;
			border-radius: 7.5px;
			.image-src {
				position: absolute;
				top: 0;
				width: 100%;
				border-radius: 7.5px;
			}
		}
	}
}

/*frame profile*/
.frame-profile {
	padding: 20px 0;
	@include grid_2x(170px, 1fr);
	.grid-1 {
		@include column_1();
	}
	.grid-2 {
		@include column_2();
	}
	.main {
		.name {
			line-height: 1.5;
		}
	}
}

/*frame notif*/
.frame-notif {
	position: relative;
	width: 100%;
    padding: 15px 0;
    .ctn {
        position: relative;
        width: 100%;
        @include grid_2x(65px, 1fr);
        .side {
            @include column_1();
        }
        .main {
            @include column_2();
        }
    }
    .ctn2 {
        @include grid_3x(65px, 1fr, 65px);
        .side {
            @include column_1();
        }
        .main {
            @include column_2();
        }
        .righ {
            @include column_3();
            text-align: right;
        }
        .righ .image {
            float: right;
        }
    }
    .main {
        .desc {
            color: $txt-min-color;
            line-height: 1.5;
            margin-bottom: 5px;
            font-size: $txt-size-desc;
        }
        .date {
            color: $txt-sek-color;
            font-size: $txt-size-desc;
            margin-bottom: 5px;
        }
    }
}

/*frame more*/
.frame-more {
	position: relative;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

/*wall*/
.frame-box {
	position: relative;
	display: inline-block;
	width: calc(100% - 20px);
	padding: 10px 10px;
	border-radius: 10px;
	font-weight: 600;
    color: $txt-sek-color;
    &:hover {
        .main .top h2 {
            color: $txt-min-color;
	        transition: 0.3s;
        }
    }
    .main {
        border-radius: 10px;
        background-color: #fff;
        .pos {
            padding: 10px 0;
        }
        .mid {
            .review {
                overflow: hidden;
	            border-radius: 10px;
            }
            .pict {
                width: 33.33%;
	            padding-bottom: 33.33%;
	            float: left;
            }
        }
    }
}
.frame-small-box {
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
	@include grid_3x(50px, 1fr, 50px);
	&:hover {
		background-color: rgba(225,225,225,0.54);
		border-radius: 5px;
		cursor: pointer;
		.wl-rig {
			.btn {
				display: block;
			}
		}
	}
	.wl-sid {
		@include column_1();
	}
	.wl-mid {
		@include column_2();
		.wl-ttl {
			@include post_top();
		}
	}
	.wl-rig {
		@include column_3();
		text-align: right;
		.btn {
			display: none;
		}
	}
}

.frame-user-box {
	position: relative;
	width: 60px;
	.usr-wl-top {
		overflow: hidden;
		border-radius: 5px;
		@include col_masonry(2);
		.pict {
			background-color: #f0f0f0;
		}
	}
	.usr-wl-mid {
		position: relative;
		width: 100%;
		height: 10px;
		.foto {
			position: absolute;
			bottom: 0;
			left: 5px;
			width: 25px;
			padding-bottom: 25px;
			border-radius: 100%;
		}
	}
}

/*frame-plus*/
.frame-plus {
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	&.wall {
		display: inline-block;
		.add {
			height: 87.5px;
			line-height: 87.5px;
			color: $txt-sek-color;
		}
	}
	&:hover {
		background-color: rgba(0,0,0,0.1);
		transition: 0.3s;
	}
	.add {
		width: 100%;
		padding: 50px 0;
		color: $txt-sek-color;
		background-color: #f0f0f0;
		text-align: center;
		border-radius: 10px;
		font-size: 32px;
	}
}

.frame-pict {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	.place-pict {
		.main-pict {
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: #fff;
			border-radius: 5px;
			.content-pict {
				position: relative;
				width: 100%;
				margin: auto;
				.image-place {
					position: relative;
					width: 100%;
					background-color: #f0f0f0;
					border-radius: 7.5px;
					.image-src {
						position: absolute;
						top: 0;
						width: 100%;
						border-radius: 7.5px;
					}
				}
				.pos {
					padding: 15px 0;
				}
				.top {
					width: 100%;
					@include grid_3x(60px, 1fr, 80px);
					.foto {
						@include column_1();
						width: 50px;
						height: 50px;
					}
					.info {
						@include column_2();
						line-height: 1.5;
					}
					.follow {
						@include column_3();
						text-align: right;
					}
				}
				&.grid-2x {
					@include grid_2x(1fr, 400px);
					.main {
						@include column_1();
						width: calc(100% - 20px);
						padding-right: 20px;
					}
					.side {
						@include column_2();
						.top {
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}

.content-pict {
	.pc-desc {
		line-height: 1.5;
		font-size: $txt-size-desc;
		color: $txt-min-color;
	}
	.side {
		.ctn-wall {
			position: relative;
			width: 100%;
			@include grid_3x(40px, 1fr, 40px);
			.ctn-wall-mid {
				white-space: nowrap;
				overflow-x: hidden;
			}
			.frame-user-box {
				display: inline-block;
				margin: 0 5px;
			}
			.pos {
				.btn-circle {
					position: absolute;
					top: 0;
					width: 40px;
					height: 100px;
					line-height: 100px;
					border-radius: 0;
					text-align: center;
				}
			}
		}
	}
}

.frame-load-circle {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	.btn {
		position: relative;
		margin: auto;
		cursor: default;
		.icn {
			line-height: 45px;
			font-size: 22pt;
		}
	}
}

/*start frame-comment*/
.frame-comment {
	position: relative;
	width: 100%;
	padding: 7.5px 0;
	@include grid_2x(60px, 1fr);
	.dt-1 {
		@include column_1();
	}
	.dt-2 {
		@include column_2();
	}
	.tgl {
		font-size: 14px;
		color: rgba(0,0,0,0.54);
		font-weight: 500;
		line-height: 2;
		.fa {
			position: relative;
			font-size: 5px;
			color: $txt-sek-color;
			top: -2.5px;
		}
		.del {
			font-weight: 500;
			color: #9a0000;
			&:hover {
				text-decoration: underline;
			}
		}
		.bg-comment {
			position: relative;
			width: 100%;
			text-align: right;
		}
	}
}

.frame-top-tag {
	position: relative;
	padding: 15px 15px;
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
	background-color: rgba(225,225,225,0.54);
	color: $txt-sek-color;
	font-size: $txt-size-small;
	font-weight: 600;
	opacity: 1;
	&:hover {
		color: $txt-min-color;
	}
	&.no-margin {
		margin-top: 0;
		margin-left: 0;
		margin-right: 10px;
		margin-bottom: 5px;
	}
}

/*frame user*/
.frame-user {
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
	display: inline-block;
	@include grid_2x(120px, 1fr);
	&:hover {
		.mid {
			color: $txt-min-color;
		}
	}
	.top {
		@include column_1();
	}
	.mid {
		@include column_2();
	}
}

/*frame sign*/
.frame-sign {
	position: relative;
	width: 500px;
	margin: auto;
	border-radius: 10px;
	@include post_center();
	.top {
		position: relative;
		margin: auto;
		width: 300px;
		img {
			width: 100%;
		}
	}
	.mid {
		.block {
			width: 90%;
			margin: auto;
			margin-bottom: 20px;
			h2 {
				text-align: center;
				color: $txt-sek-color;
			}
			p {
				font-size: $txt-size-desc;
				color: $txt-sek-color;
			}
			.btn {
				width: 100%;
				margin-bottom: 15px;
			}
			a {
				text-decoration: none;
			}
		}
	}
}

/*frame save to box*/
.frame-field-popup {
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	padding: 15px 15px 25px 15px;
	&.center {
		@include post_center();
	}
	.grid-mid {
		@include grid_2x(1fr, 330px);
		.gm-1 {
			position: relative;
			width: calc(100% - 15px);
			max-width: calc(100% - 15px);
			margin-right: 15px;
			.need-margin-bottom {
				margin-bottom: 15px;
			}
			.image {
				margin: auto;
				margin-bottom: 15px;
			}
		}
		.gm-2 {
			position: relative;
			width: 100%;
		}
		.src {
			width: calc(100% - 20px);
			margin: auto;
		}
	}
	.ff-pos {
		position: relative;
		width: 100%;
		padding: 10px 0;
		&.right {
			text-align: right;
		}
	}
	.ff-mid {
		max-height: 385px;
		overflow-y: auto;
		.ff-block {
			width: 100%;
			p {
				font-size: $txt-size-desc;
				color: $txt-sek-color;
				font-weight: 500;
				line-height: 1.5;
			}
		}
	}
	.ff-bot {
		.btn {
			margin-left: 10px;
		}
	}
}

#getPictPopup {
	display: none;
}
.frame-get-pict {
	position: relative;
	width: 100%;
	height: 200px;
	text-align: center;
	background-color: rgba(225,225,225,0.54);
	cursor: pointer;
	&:hover {
		.icn {
			color: $txt-min-color;
		}
	}
	.icn {
		@include post_center();
		color: $txt-sek-color;
		font-size: 16px;
	}
}

.frame-guess {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 200;
	background-color: #fff;
	@media (max-width: $max-width) {
		height: auto;
	}
	.grid-2x {
		@include grid_2x(1fr, 1fr);
		@media (max-width: $max-width) {
			@include grid_none();
		}
		.grid-1 {
			position: relative;
			width: 100%;
			height: calc(100vh - 50px);
			background-color: $min-color;
			@include column_1();
			@media (max-width: $max-width) {
				height: 500px;
			}
		}
		.grid-2 {
			position: relative;
			width: 100%;
			height: calc(100vh - 50px);
			@include column_2();
			@media (max-width: $max-width) {
				height: 500px;
			}
		}
	}
	.bottom {
		position: relative;
		width: 100%;
		height: 50px;
		text-align: center;
		cursor: default;
		@media (max-width: $max-width) {
			height: auto;
		}
		ul {
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				a {
					display: block;
					padding: 0 15px;
					height: 50px;
					line-height: 50px;
					color: $txt-sek-color;
					font-weight: 600;
					&:hover {
						color: $txt-min-color;
						background-color: #f0f0f0;
					}
				}
			}
		}
	}
	.detail {
		@include post_center();
		.ttl {
			color: #fff;
		}
		ul {
			li {
				position: relative;
				list-style: none;
				padding: 20px 0;
				@include grid_2x(60px, 1fr);
				.icn {
					width: 40px;
					line-height: 25px;
					color: #fff;
					text-align: center;
					@include column_1();
				}
				.ttl {
					@include column_2();
				}
			}
		}
	}
	.sign {
		@include post_center();
		text-align: center;
		.image {
			position: relative;
			margin: auto;
			width: 300px;
			height: 130px;
		}
	}
}

.frame-info {
	position: relative;
	width: calc(300px - 60px);
	padding: 0 30px;
	display: inline-block;
	vertical-align: top;
	&.width-all {
		width: 100%;
		padding: 0 0;
	}
	.pos {
		position: relative;
		padding: 30px 0;
		.icn {
			position: relative;
			width: 70px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			border: 2px $txt-sek-color solid;
			color: $txt-sek-color;
			border-radius: 100%;
		}
	}
	.btn {
		position: relative;
		width: 100%;
	}
	.mrg-bottom {
		margin-bottom: 20px;
	}
	.mid {
		padding-bottom: 30px;
		font-weight: 900;
		color: $txt-sek-color;
	}
}

.place-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 200;
	background-color: #fff;	
}

.frame-paper {
	position: relative;
	width: (($col-full / 4) - 25px);
	padding: 10px 7.5px;
	margin: 0 5px;
	background-color: #fff;
	border-radius: 7.5px;
	overflow: hidden;
	@media (max-width: $max-width) {
		width: calc(100% - 15px);
		margin: 0 0;
	}
	&:hover {
		background-color: rgba(225,225,225,0.54);
	}
	.top {
		position: relative;
		width: 100%;
	}
	.mid {
		position: relative;
		width: 100%;
	}
	.bot {
		position: relative;
		width: 100%;
		height: 50px;
		.image {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.bg-image {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 150px;
		overflow: hidden;
		img {
			@include post_center();
			height: 100%;
		}
	}
	.pl-image {
		@include col_masonry(3);
		overflow: hidden;
		border-radius: 7.5px;
	}
	.pl-icn {
		position: relative;
		width: 100%;
		height: 150px;
		background-color: #f0f0f0;
		color: $pos-color;
		.mn-icn {
			@include post_center();
			font-size: 34px;
		}
	}
}
.frame-small-paper {
	position: relative;
	width: calc(100% - 20px);
	padding: 10px;
	@include grid_3x(55px, 1fr, 40px);
	border-radius: 5px;
	&:hover {
		background-color: #f0f0f0;
		cursor: pointer;
		.grid-3 {
			.chk {
				display: block;
			}
		}
	}
	&.selected {
		.grid-3 {
			.chk {
				display: block;
				background-color: rgba(0,0,0,0);
				color: $min-color;
			}
		}
	}
	.grid-1 {
		@include column_1();
	}
	.grid-2 {
		@include column_2();
		.ttl {
			@include post_top();
		}
	}
	.grid-3 {
		@include column_3();
		.chk {
			display: none;
		}
		.btn {
			@include post_top();
		}
	}
}

.frame-empty {
	position: relative;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: $txt-sek-color;
	.icn {
		width: 120px;
		height: 120px;
		line-height: 120px;
		font-size: 48pt;
		border-radius: 100%;
		background-color: $sek-color;
		color: $txt-sek-color;
	}
	.ttl {
		font-size: $txt-size-big;
		font-weight: 600;
		color: $txt-sek-color;
	}
}